/* .card-title{
  color: text-primary;
}
.list-group{
 padding-left: 100px;
}
.card-title{
  align-items: center;
  
}
.d-grid{
 padding-left: 80px;

}
.list-group-item{
  color: #b30059;
}
.card-body{
  background-color: #ebfaeb;
  width: 600px;
}
.fs-6{
  color: #cc0052;
} */

.travel-places .row{
  margin: 8px auto !important;
  background-color: rgb(241, 246, 193) !important;
  font-weight: 500 !important;
}
.travel-places .row .col-3{
  background-color: green !important;
  font-weight: 600 !important;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
}