.agency-profile-cover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.394);
    z-index: 1;
}

.booking-card:hover{
    background-color: #eceef5 !important;
    cursor: pointer;
}